/* @import url('https://fonts.googleapis.com/css?family=PT+Sans'); */

body, html {
  background: #f2f2f2;
  font-family: monospace;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
    height: auto;
}

nav {
    display: flex;
    flex-direction: row;
    background: beige;
    box-sizing: border-box;
    padding: 8px 16px;
    justify-content: space-around;
    font-family: monospace;
    font-size: x-large;
    height: 80px;
    align-items: center;
}


nav a{
    text-decoration: none;
    color: 
    #5e5e20;
}
a[active] {
    font-weight: bold;
    color: #da5767;
}

a:hover{
  color: #da5767;
  text-decoration: underline;
}

h1 {
    text-align: center;
    font-family: monospace;
    font-size: 40px;
}

h2 {
    text-align: center;
}

input {
    border-radius: 4px;
    border: 2px solid #e2e2e2;
    padding: 8px 16px;
    font-size: larger;
    margin: 4px 0;
    width: 100%;
    box-sizing: border-box;
}

input#submit {
    background: #a3d0e6;
    color: #133049;
    border: 0;
    border-radius: 24px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 24px;
    position: relative;
    max-width: 400px;
}
  

main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.err-msg {
    font-weight: bold;
    text-align: center;
    color: red;
    width: 100%;
}
.success-msg {
    font-weight: bold;
    text-align: center;
    color: rgb(3, 96, 9);
    width: 100%;
}

thead{
   text-align: left;
}


footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

footer a {
    text-decoration: none;
    color: cyan;
}

footer a:hover {
    color: rgb(207, 86, 86);
}
